{% extends 'base.html' %}

{% block content %}
<p>오늘 저녁은 {{ my_dinner }} 어떠신가요?</p>
<p>글자수 {{ my_dinner|length }}</p>
<p>{{ menu|join:", " }}</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for dinner in menu %}
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ dinner }}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% comment %} 주석입니당 {% endcomment %}
  <!-- 주석입니당 -->
</div>
<a href="/">메인페이지로 가기</a>
{% endblock %}
